body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#818d6e;
}

.board {
    width: 45vw;
    height: 45vw;
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 6px solid black;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.middle-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 0;
    padding-left: 20px;
}

.colour {
    display: flex;
    width: 15vw;
    height: 20vw;
    flex-direction: column;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color:#3c4133;
    border-radius: 20px;
}

.reset {
    background-color:#3c4133;
    border: 4px solid black;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 20px;
    width: 15vw;
    height: 10vw;
}

h1 {
    font-family: tahoma;
    color: whitesmoke;
    text-align: center;
    font-size: 5vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} 

h2, 
h4 {
    font-family: tahoma;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
}

.colour-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 120px;
}

.bottom {
    margin: 0 auto;
}

.bottom > button {
    margin: 0 8px 15px 8px;
}

button {
    border: 2px solid black;
    padding: 2px 4px;
    width: 8vw;
    font-size: 1.5vw;
}

button:hover {
    transform: scale(1.1);
    border: 2px solid black;
    cursor: pointer;

}

.hex-option {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -12px;
}

#custom {
    border: 2px solid black;
    width: 5vw;
    height: 2.5vh;
}

#custom:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.grid-20 {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.grid-20 > div {
    height: auto;
    width: auto;
    border: solid 1px black;
}

.grid-25 {
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
}

.grid-25 > div {
    height: auto;
    width: auto;
    border: solid 1px black;
}

.grid-30 {
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.grid-30 > div {
    height: auto;
    width: auto;
    border: solid 1px black;
}

.grid-35 {
    grid-template-columns: repeat(35, 1fr);
    grid-template-rows: repeat(35, 1fr);
}

.grid-35 > div {
    height: auto;
    width: auto;
    border: solid 1px black;
}

@media (max-width: 600px) {
    .board {
        width: 55vw;
        height: 55vw;
        border: 4px solid black;
    }
    
    .middle {
        margin-right: 70px;
    }
    
    .middle-left {
        gap: 10px;
        position: static;
        left: 0;
        padding-left: 20px;
    }

    .colour {
        width: 13vw;
        height: 22vw;
        border: 3px solid black;
        padding: 7px;
        border-radius: 10px;
    }
    
    .reset {
        border: 3px solid black;
        border-radius: 10px;
        width: 12vw;
        height: 8vw;
    }

    .hex-option {
        gap: 10px;
        margin-top: -6px;
    }
    
    #custom {
        border: 2px solid black;
        background-color: white;
        width: 3.5vw;
        height: 1.5vh;
    }

    .middle > h2 {
        font-size: 1.5vw;
    }
    
    .middle > h4 {
        font-size: 1vw;
    }

    .colour-button {
        gap: 7px;
        width: 120px;
    }

    .bottom-button {
        display: flex;
        gap: 10px;
    }
}